body {
	background-color: #000000;
}

#header {
	color: #ffffff;
}

#Scene {
	background-color: black;
	width: 75%; /*Need to edit constant in build_map function if this value changes*/
	height: 100%;
	display: inline-block;
	float: left;
}

#OptionsPane {
	background-color: white;
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
}

#TileNameDiv {
	background-color: e8bb4d;
	float:left; 
	clear: left;
	width: 100%;
}

#Stats_Section {
	background-color: f1d592;	
	float:left;
	width: 100%;
}

#Phase1 {
	background-color: e8bb4d;	
	float:left; 
	clear: left;
	width: 100%;
}

#Phase2 {
	background-color: f1d592;	
	float:left; 
	clear: left;
	width: 100%;
}

#Phase3 {
	background-color: e8bb4d;	
	float:left; 
	clear: left;
	width: 100%;
}

textarea {
	resize: none;
}

